.squid-api-project-model-management .database-details-1, .squid-api-project-model-management .database-details-3 {
    float: left;
    width: 45%;
    padding-top: 3px;
}
.squid-api-project-model-management .database-details-2, .squid-api-project-model-management .database-details-4 {
    float: right;
    width: 45%;
}