<select class="sq-select form-control squid-api-data-widgets-metric-selector" multiple>
    {{#if empty}}
        <option disabled="true">No metrics available</option>
    {{/if}}
    {{#each options}}
        <option value="{{value}}" {{#if selected}}selected{{/if}}>
            {{label}}
        </option>
    {{/each}}
</select>
