.squid-api-dataviz-creator {
    position: relative;
    padding-top: 10px;
}
.squid-api-dataviz-creator.bothVisible {
    padding-top: 70px;
}
.squid-api-dataviz-creator #squid-api-dataviz-creator-editor {
    height: 60vh;
}
.squid-api-dataviz-creator .configuration {
    display: inline-block;
    margin-top: 0px;
    width: 100%;
    position: relative;
    padding: 10px 0px;
    margin-bottom: 10px;
}
.squid-api-dataviz-creator .configuration.bothVisible {
    background: #f1eff1;
}
.squid-api-dataviz-creator .configuration .save-wrapper {
    position: relative;
    right : 30px;
}
.squid-api-dataviz-creator .configuration.bothVisible .save-wrapper {
    top: 55px;
}
.squid-api-dataviz-creator .configuration .save, .squid-api-dataviz-creator .editor-toggle {
    background: #b35f04;
    color: #fff;
}
.squid-api-dataviz-creator .editor-container select#template-selector, .squid-api-dataviz-creator .guide  {
    position: absolute;
}
.squid-api-dataviz-creator .guide, .squid-api-dataviz-creator select#template-selector{
    top: -60px;
}
.squid-api-dataviz-creator .editor-container select {
    white-space: nowrap;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    color: #1B1B1B;
    font-size: 14px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    box-shadow: none;
    text-decoration: underline;
}
.squid-api-dataviz-creator .configuration .save-bookmark {
    position: relative;
    left: -30px;
}
.squid-api-dataviz-creator .editor-toggle {
    position: absolute;
    top: 0px;
    width: 125px;
    right: 0px;
}
.squid-api-dataviz-creator .overlay {
    position: absolute;
    top: -51px;
    left: 0%;
    width: 100%;
    border-radius: 0px 8px 0px 0px;
    height: 100vh;
    z-index: 4;
    border-radius: 4px;
    opacity: 0.4;
    background: #eee;
}