<div class="squid-api-dataviz-creator">
    <div class="row">
        <div class="col-md-6" id="squid-api-dataviz-creator-editor" />
        <button class="btn btn-default apply">Apply</button>
        <button class="btn btn-default fullscreen"><i class="fa fa-arrows-alt"></i></button>
        <div class="col-md-6" id="squid-api-dataviz-creator-preview"/>
    </div>
</div>