.squid-api-dataviz-creator {
    position: relative;
}
.squid-api-dataviz-creator #squid-api-dataviz-creator-editor {
    height: 60vh;
}
.squid-api-dataviz-creator .configuration {
    display: inline-block;
    margin-top: 0px;
    width: 100%;
    background: #f1eff1;
    padding: 10px 0px;
    border-radius: 0px 8px 8px 8px;
}
.squid-api-dataviz-creator .configuration input {
    margin-top: 3px;
}
.squid-api-dataviz-creator .configuration .save-bookmark {
    position: relative;
    left: -30px;
}
.squid-api-dataviz-creator .editor-toggle {
    position: absolute;
    top: 0px;
    right: 0px;
}