.squid-api-relation-model-management .id {
    display: none;
}
.squid-api-relation-model-management .leftName, .squid-api-relation-model-management .cardinality, .squid-api-relation-model-management .rightName {
    width: 33%;
    float: left;
}
.squid-api-relation-model-management .leftName {
	clear: left;
}
.squid-api-relation-model-management .description {
	width: 100%;
	float: left;
}
.squid-api-relation-model-management .joinExpression {
	width: 100%;
	float: left;
}
.squid-api-relation-model-management .rightId {
	width: 33%;
	float: left;
	clear: both;
}
.squid-api-relation-model-management fieldset > div {
    padding-right: 10px;
}
.squid-api-relation-model-management .leftId form fieldset > div:first-of-type, .squid-api-relation-model-management .rightId fieldset > div:first-of-type, .squid-api-relation-model-management .leftId > label:first-of-type, .squid-api-relation-model-management .rightId > label:first-of-type {
    display: none;
}